.app__subheader {
    height: 125vh;
    width: 100%;
    background-color: white;
}
.tiny-img {
    position: relative;
    margin-left: 13rem;
    border: 2px solid;
    height: 15vh;
    width: 10%;
    border-radius: 50%;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBe7_gAd0ifV7D_mhBPsUwrzE6jRV-B8-M3A&usqp=CAU");
}
.subheader-info{
    font-size: 0.5rem;
    color: white;
    background-color: rgb(143, 127, 212);
    /* border: 2px solid blueviolet; */
    border-width: 5rem;
    height: 15rem;
}
h1.container {
   margin-top: -4rem;
   font-size: 2rem;
    list-style: none;
    text-align: center;
}
.subheader-lists{
    list-style: none;
    font-size: 1rem;
    margin-left: 26.5rem;
}
.small-box {
    font-weight: bold;
    background-color: white;
    font-size: 0.7rem;
    color: black;
    border: 1px solid;
    width: 6rem;
    height: 2rem;
    text-align: center;
    margin-left: 52rem;
}
.projects{
    text-align: start;
    color: blueviolet;
}
h1{
    text-align: inherit;
    margin-left: 8rem;
    margin-top: 4rem;
}
h2{
    color: black;
    margin-left: 8rem;
}
p{
    margin-left: 55rem;
}
.p-img1 {
    height: 38vh;
    width: 18%;
    margin-left: 5rem;
    margin-top: 0rem;
    background: url("https://images.pexels.com/photos/3783416/pexels-photo-3783416.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.p-img2 {
    height: 38vh;
    width: 18%;
    margin-left: 23rem;
    margin-top: -18.2rem;
    background: url("https://images.pexels.com/photos/209151/pexels-photo-209151.jpeg?auto=compress&cs=tinysrgb&w=600");

}

.p-img3 {
    height: 38vh;
    width: 18%;
    margin-left: 41rem;
    margin-top: -18.3rem;
    background: url("https://images.pexels.com/photos/3405456/pexels-photo-3405456.jpeg?auto=compress&cs=tinysrgb&w=600");
}
.p-img4 {
    height: 38vh;
    width: 18%;
    margin-left: 59rem;
    margin-top: -18.3rem;
    background: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&w=600");
}
.pic{
    border:1px solid grey;
    top: 13.8rem;
    margin-left: 0.5rem;
    color: white;
}
.DI{
 color: blueviolet;
 font-size: 0.8rem;
 margin-left: -1rem;
}
.ofc-name{
    color: darkgrey;
    font-size: 1.5rem;
    border: solid transparent;
    border-width: 5.5rem;

}

